:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  color: black;
}

nav {
  padding: 20px 50px 20px 50px;
  font-family: "Signika", sans-serif;
  letter-spacing: 3px;
  background: linear-gradient(90deg, #275A53 60%, #F6F0E4 60%);
  overflow: hidden;
  z-index: 2;
}

.nav-content {
  max-width: 55vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.navbar a:hover {
  color: #b3b3b3;
}

.first-page {
  background: linear-gradient(90deg, #275A53 60%, #F6F0E4 60%);
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Signika", sans-serif;
}

.second-page {
  background: #FFFFFF;
  height: 100vh;
  width: 100%;
  font-family: "Signika", sans-serif;
}

.third-page {
  background: #F1F4FD;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: "Signika", sans-serif;
}

.fourth-page {
  background: #FFFFFF;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: start;
  justify-content: start;
  font-family: "Signika", sans-serif;
}

.content-container {
  background: #F1F4FD;
  height: 90%;
  width: 100%;
}

.contact-map {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px 0 100px;
  background-color: #567F58;
  color: white;
  width: 100%;
}

.contact-map h4 {
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  letter-spacing: 4px;
}

.svg-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.svg-address p {
  margin: 0;
  margin-left: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: smaller;
}

.contact-container {
  display: flex;
  flex-direction: row;
  height: 50%;
  object-fit: cover;
}

.watermark {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 100px 30px 0 30px;
  height: 50%;
  box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.55);
}

.link {
  margin-top: 20px;
}

.davins-link h4 {
  font-size: medium;
  font-weight: 600;
}

.main-address {
  margin-top: 20px;
}

.main-address h4 {
  letter-spacing: 0;
  font-size: small;
  margin: 0;
}

.main-address h5 {
  margin: 0;
  font-size: small;
  font-weight: 200;
}

.contact-us {
  text-align: center;
}

.contact-us h4 {
  letter-spacing: 0;
  font-size: medium;
  margin: 0;
}

.contact-us h5 {
  margin: 0;
  font-size: medium;
  margin-top: 20px;
  font-weight: 200;
}

.nav-footer {
  text-align: right;
}


.nav-footer h4 {
  letter-spacing: 0;
  font-size: medium;
  margin: 0;
}

.nav-footer h5 {
  margin: 0;
  font-size: medium;
  margin-top: 20px;
  font-weight: 200;
}

.link svg {
  margin-right: 20px;
}

.watermark p {
  margin: 0;
}

.footer {
  padding: 0 30px 0 30px;
  height: 11%;
  display: flex;
  align-items: center;
  width: 100%;
}

.img-container {
  position: relative;
  width: 345px;
  height: 472px;
}

.img-container img {
  width: 100%;
  object-fit: cover;
}

.img-list {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(4, 1fr);
}

.img-container p {
  position: absolute;
  text-align: center;
  top: 400px;
  width: 100%;
  color: white;
}

.slider-container {
  max-width: 100%;
  width: 95%;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.third-page h1 {
  margin: 0;
}

.third-page h4 {
  font-weight: 200;
  color: #242424;
  font-size: medium;
  margin-top: 20px;
}

.third-page button {
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 4px 20px 4px 20px;
  color: #242424;
  background-color: white;
  box-shadow: none;
  font-size: small;
  font-weight: 400;
}

.fourth-page button {
  border: none;
  padding: 12px 15px 12px 15px;
  color: #FFFFFF;
  background-color: #89C237;
  box-shadow: none;
  font-size: small;
  font-weight: 400;
  width: 50%;
  height: 100%;
  margin-left: 20px;
}

.phone-input {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.phone-input input {
  width: 100%;
  background-color: white;
  box-shadow: none;
  border: none;
  padding: 12px 20px 12px 20px;
  font-size: 0.7em;
  font-weight: 100;
}

.image-cont {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content-text {
  display: flex;
  flex-direction: row;
}

.photo-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.photo-frame img {
  margin: 0 20px 0 0 !important;
}

.name-text .main {
  font-weight: 700;
}

.next-2 {
  border-style: solid;
  height: 50%;
  border-width: 1px;
  border-color: black;
  padding: 4px 20px 4px 20px;
  color: #242424;
  background-color: white;
  box-shadow: none;
  font-size: small;
  font-weight: 400;
}

.next-2 button {
  padding: 0;
}

.name-subs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.image-description {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  max-width: 35vw;
  position: absolute;
  bottom: 10vw;
  box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.55);
}

.shape-line {
  height: 100%;
  background-color: #242424;
  width: 2px;
}

.image-description p {
  margin: 0;
}

.image-cont img {
  margin: 0 20px 0 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.hero-text {
  width: 40%;
  padding: 20px 20px 20px 50px;
}

.hero-image {
  display: flex;
  width: 60%;
  justify-content: center;
  position: relative;
}

.green-square {
  height: 45vh;
  width: 15vw;
  background-color: #567F58;
  position: absolute;
  right: 0;
  top: 2.5vw;
  z-index: 0;
}

.orange-square {
  height: 100px;
  width: 100px;
  background-color: #E7872A;
  position: absolute;
  right: 6vw;
  top: -2.5vw;
  z-index: 0;
}

.next {
  margin-top: 2vw;
  display: flex;
  align-items: center;
  padding: 8px 14px 8px 14px;
  color: white;
  background-color: #E7872A;
  box-shadow: none;
  letter-spacing: 2px;
  font-weight: 200;
  border: none;
}

.arrow-btn {
  background-color: white;
  border-radius: 2px;
  padding: 2.5px 5px 2.5px 5px;
  margin-left: 10px;
}

.hero-image img {
  max-width: 70%;
  max-height: 70%;
  z-index: 1;
}

.hero-text h1 {
  color: #FF9843;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 2.5vw;
  margin: 0;
}

.hero-text h2 {
  color: white;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 2.5vw;
  margin: 0;
}

.hero-text p {
  margin: 0;
  margin-top: 2vw;
  color: white;
  letter-spacing: 2px;
}

@media (min-width:0px) and (max-width: 950px) {
  nav {
    padding: 20px 30px 20px 30px;  
  }

  .first-page {
      background: #275A53;
  }

  .nav-content {
    flex-direction: column;
    justify-content: center;
  }

  .nav-content img {
    width: 30vw;
    margin-top: 4px;
  }

  .navbar {
    display: none;
  }
}
